<center><h2>Book a Show</h2></center>

<p>We're still working out the contract details with our venues. 
  We will make a huge announcement once the venues have been 
  finalized, at which point artists and agents will be able to 
  sign up for concert times.</p>